body {
  background: khaki;
  color: midnightblue;
  padding-left: 1em;
  padding-right: 1em;
}
h1 {
  font-size: large;
  margin-top: 0;
  text-decoration: underline;
  display: inline-block;
  vertical-align: top;
}
select {
  background: lightyellow;
  color: darkgreen;
  max-width: 15em;
}
table {
  border-collapse: separate;
  display: inline-table;
  vertical-align: top;
}
th, td {
  border: solid 1px green;
  text-align: center;
  padding: 4pt;
}
p {
  color: green;
  text-indent: 0;
}
.red {
  color: orangered;
}
.last_mod {
  color: green;
  font-style: italic;
  text-align: right;
}
label {
  cursor: pointer;
}
#reg_tab, #irr_tab {
  display: none;
}
span.button {
  background: greenyellow;
}
span.button:hover {
  background: orange;
}

